@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column nowarp;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: grid;
    place-content: center;
}

div:first-child {
    background-color: dodgerblue;
    /* transform: rotateX(100deg); */
}

div:nth-child(2) {
    background-color: yellow;
}

div:last-child {
    background-color: limegreen;
}

div:hover {
    background-color: midnightblue;
    /* transition-property: background-color, transform; */
    /* transition-duration: 1s, 1s; */
    /* transition-delay: 0.1s; */
    transition: all 2s 0.5s;
}

div:last-child:hover {
    transform: rotate(180deg);
}

.animate {
    /* animation-name: slide; */
    /* animation-duration: 5s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-delay: 1s; */
    /* animation-iteration-count: 5; */
    /* animation-direction: alternate; */
    /* animation-fill-mode: forwards; */
    animation: 5s ease-in-out 1s 2 normal forwards slide;
}

@keyframes slide {
    0% {
        transfrom: translateX(0);
    }

    33% {
        transform: translateX(600px) rotate(180deg);
    }

    66% {
        transform: translateX(-600px) rotate(-180deg);
    }

    100% {
        tranfrom: translateX(0);
        background-color: rebeccapurple;
    }
}
