* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 2px double red;
  margin: 5.5rem 3rem;
  padding: 1.5rem;
  outline: 2px solid purple;
  outline-offset: -1rem;
}

.circle {
  background: yellow;
  border: 2px solid black;
  border-radius: 50px;
  outline: 2px solid purple;
  outline-offset: 0.5rem;
  width: 100px;
  height: 100px;
  margin: 3rem auto;
}
