@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
}

.columns {
    column-count: 4;
    column-width: 250px;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0px;
}

.columns h2 {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    column-span: all;
    color: #333;
}

.nowrap {
    white-space: nowrap;
}
