@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Slab:wght@100..900&display=swap");

:root {
    --HEADER-BGCOLOR: #333;
    --HEADER-COLOR: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    background-color: var(--HEADER-BGCOLOR);
}

.header {
    color: var(--HEADER-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem;
}

.header__nav {
    display: grid;
    place-content: center;
}

.header__ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: var(--HEADER-COLOR);
    text-decoration: none;
}
