@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
}

.container {
    /* margin-top: 20px; */
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* flex-flow setups flex-direction and flew-wrap */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

.box {
    min-width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
}
