@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 75px auto 75px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn sb sb"
        "ft ft ft ft ft ft ft ft ft";
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.aside {
    grid-area: sb;
    background-color: blue;
}

.footer {
    grid-area: ft;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    min-height: 400px;
    gap: 1em 0.5em;
}

.box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    background-color: #00f;
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    place-content: end center;
    /* shortcut for align-conent and justify-content */
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 3/4;
}
