@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.profile-pic-figure {
    width: 20%;
}

.profile-pic-figure img {
    /* I have to set the width otherwise it won't show correctly */
    width: 100%;
    height: auto;

    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

/* .profile-pic-figure mig { */
/*     width: 100%; */
/* } */

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-star;
    align-items: center;
    gap: 30px;

    background-color: rgb(251, 210, 156);
    background-image: url("../image/Black.png");
}

body {
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
}

.h1 {
    font-size: 500%;
    color: whitesmoke;
}

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -100000px;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
}
