@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.profile-pic-figure {
    width: 20%;
}

.profile-pic-figure img {
    /* I have to set the width otherwise it won't show correctly */
    width: 100%;
    height: auto;

    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

/* .profile-pic-figure mig { */
/*     width: 100%; */
/* } */

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-star;
    align-items: center;
    gap: 30px;

    background-color: rgb(251, 210, 156);
    background-image: url("../image/landscape.jpg");
    background-repeat: repeat;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    background-size: cover;
    /* background-size: contain; */
}

body {
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
    /* background-image: linear-gradient(to right, white, steelblue); */
}

.h1 {
    font-size: 500%;
    text-shadow: 2px 2px 10px #000;
    color: whitesmoke;
}

section {
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

p {
    font-weight: 900;
    font-size: 10rem;
    text-align: center;
    background-image: url("/image/landscape.jpg");
    background-size: cover;
    background-position: bottom;
    -webkit-background-clip: text;
    color: transparent;
}

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -100000px;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
}
