@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.profile-pic-figure {
    width: 20%;
}

.profile-pic-figure img {
    /* I have to set the width otherwise it won't show correctly */
    width: 100%;
    height: 354px;

    min-width: 100px;
    border: 5px double gray;
}

/* .profile-pic-figure mig { */
/*     width: 100%; */
/* } */

body {
    font-family: "JetBrains Mono", monospace;
    min-height: 100vh;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
}
