@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    padding: 5% 10%;
    font-size: 1.5rem;
    font-family: ;
    font-family: "JetBrains Mono", monospace;
}

ol {
    /* list-style-type: lower-greek; */
    /* list-style-type: lower-alpha; */
    list-style-type: lower-roman;
}

ul {
    list-style-type: circle;
    text-align: center;
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
    list-style-image: url("../image/check-mark.png");
}

ul li:nth-child(odd) {
    color: red;
}

ul li::marker {
    color: brown;
    content: "Only $5 >>  ";
}
