* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__btn {
    font-size: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.header__btn--secondary {
    background-color: aliceblue;
}

.header__btn--lean:hover {
    transform: skewX(10deg);
    transition: all 2s;
}

.header__btn--border-lg {
    border: 3px solid royalblue;
}
