body {
    padding: 20%;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: steelblue;
}

a:visited {
    color: maroon;
}

a:hover,
a:focus {
    color: steelblue;
    opacity: 0.6;
}

a:active {
    color: red;
}
