@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    font-family: "JetBrains Mono", monospace;
    /* default */
    /* font-family: serif; */
    /* font-family: sans-serif; */
    /* font-family: "Courier New", Courier, monospace; */
    /* It means first, second and third choice */
    padding: 20%;
    font-size: 2rem;
}

/*  input, */
/* button { */
/*     font: inherit; */
/* } */

p {
    text-decoration: underline;
    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    letter-spacing: 0.05em;
    /* word-spacing: 2em; */
    font-weight: 400;
    /* font-style: italic; */
}
