* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 50%;
}

h1 {
  border: 2px dashed red;
  width: 50%;
  /* this will be 25% */
  font-size: 3rem;
  padding: 0.5em;
}

p {
  font-size: 2rem;
  width: 64ch;
}
