@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --BGCOLOR: #475569;
}

body {
    min-height: 100vh;
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(whitesmoke, var(--BGCOLOR));
}

header,
nav,
main,
footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,
footer {
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
}

main {
    flex-grow: 1;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
